services:
  wordpress:
    build:
      dockerfile: Dockerfile
      context: .
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
      - .env.secrets
    volumes:
      - "./wp-content:/var/www/html/wp-content"
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
    mem_limit: 1024m
    restart: unless-stopped
    networks:
      apps:
networks:
  apps:
    external: true