<div class="de-quickview-popup-wrapper">
  <div class="de-quickview-popup-container">
    <div class="de-quickview-popup-close">
    	{{ design.close_button.icon.svgCode }}
    </div>
    %%CHILDREN%%
  </div>
</div>