<button aria-label="Scroll back to Top">
  {% if content.options.enable_progress %}
    <div class="de-bttb-progress">
      <div class="de-bttb-progress fill"></div>
    </div>
  {% endif %}
<div class="de-svg-icon">
{{ content.icon.select_icon.svgCode }}
</div>
</button>